@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #553a71;
  --color-secondary: #714d97;
  --color-dark: #2e1f3d;
  --color-light: #8e61bd;
  --color-white: #fcf8ff;
}


